{%extends 'jinja.html'%}
{%block content%}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<style>
  select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 75%;
  position: relative;
  transition: all 2s ease-in-out;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .content {
  max-height: 30%;
  
}
i:hover{
  cursor: pointer;
}
</style>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-11">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Insert Exam <a class="btn btn-success pull-right" style="font-weight: bold;width: 11%;padding: 7px;" href="#popup1"> <i class="material-icons">add</i> Add</a></h4>
            <br>
            <div class="select col-md-11">
             
              <select name="slct" id="slct">
                <option selected disabled>Choose Exam</option>
                
                {%for x in exams['exams']['Doc_Name']%}
                <option value="{{x}}">{{x}}</option>
                {%endfor%}
              </select>
            </div>
          </div>
          <div class="card-body">
            <h3>Create A Question</h3>
            <div class="row">
              
              <div class="col-md-7">
                <div class="form-group">
                  <label class="bmd-label-floating">Question</label>
                  <input type="text" name="name" class="form-control">
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label class="bmd-label-floating">Correct Answer</label>
                  <input type="text" name="ans" class="form-control">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Other Answers Seprate By Commas</label>
                  <input type="text" name="oans" class="form-control">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <button id="createque" class="btn btn-primary">Create</button>
                </div>
              </div>
            </div>
            <br>
            <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Question</th>
                <th style="width: 35%;">Answer</th>
                <th style="width: 10%;">Delete</th>
            </tr>
        </thead>
        <tbody>
            
            
            </tbody>
            </table>
       
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<form method="POST" action='/admin/exam'>
<div id="popup1" class="overlay" style="z-index: 4 !IMPORTANT;">
	<div class="popup">
		<h2>Insert Exam Name</h2>
		<a class="close" href="#">&times;</a>
		<div class="content">
      <div class="row">
       
        <div class="col-md-8">
          <div class="form-group">
            <label class="bmd-label-floating">Exam Name</label>
            <input type="text" name="name" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <button type="submit" class="btn btn-success">Insert</button>
          </div>
        </div>
      
      </div>
		</div>
	</div>
</div>
</form>
<div class="addsc">

</div>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready(function() {
    $('#example').DataTable();
} );

function delque(name){
  $.post("/admin/question/trash",{"exam":$('select').val(),'que':name}, function(data, status){
    if (data=='True'){
      var myobj = document.getElementById(name.trim());
      myobj.remove();
      $.notify({
	// options
	message: "Question Is Deleted!"
},{
	// settings
	type: 'warning'
});
  }
  });
}

$("#createque").click(function(){
  if ($('input[name=oans]').val().split(",").length - 1 == 2){
  $.get("/admin/question/add",{"exam":$('select').val(),"que":$('input[name=name]').val(),"ans":$('input[name=ans]').val(),"oans":$('input[name=oans]').val()}, function(data, status){
    if(data=='True'){
      $(".odd").html("");
      $.notify({
	// options
	message: "Question Is Inserted!"
},{
	// settings
	type: 'info'
});
      $("tbody").prepend("<tr id='"+$('input[name=name]').val()+"'><td>"+$('input[name=name]').val()+"</td><td>"+$('input[name=ans]').val()+"</td><td><button class='btn btn-primary' onclick='delque(\" "+$('input[name=name]').val()+" \")'><i class='material-icons'>delete</i></button></td></tr>");
    }
  });
}
else{
  alert("Three Question Are Required In Other Answers Input.")
}
  });

$("select").change(function(){
  $("tbody").html("")
  $.get("/admin/exam/questions",{"name":$(this).val()}, function(data, status){
  
    if (data.data) {

      $.each(data.data, function( index, value ) {
       var newElement = document.createElement('tr');
       newElement.setAttribute('id', value.que);
       newElement.innerHTML = "<td>"+value.que+"</td><td>"+value.choices.correct+"</td><td><button class='btn btn-primary' onclick='delque(\" "+value.que+" \")'><i class='material-icons'>delete</i></button></td>" 
       $("tbody").append(newElement);
      
      }); 
                
     // $(".card-body").prepend("<td>index</td><td></td><td></td></tr>");
     }
     else{
      $(".card-body").prepend("<h2 style='text-align:center;padding:5%'>No Record Found!</h2>");
     }
  });
});
  var element = document.getElementById("exam");
  element.classList.add("active");
  </script>
      {%endblock%}